body {
  background-color: #f5f7fa;
  font-family: 'Montserrat', sans-serif;
}
.Main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/* main section */
.main-content {
  padding: 100px 90px;
}

/* side bar section */
.Sidebar {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0;
  padding-left: 80px;
}
.about-me-profession {
  font-size: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin-bottom: 20px;
}
.about-me-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin: 0 0 20px 0;
}
.about-me-discription {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 400px;
}
.about-me {
  /* background-color: rgb(255, 255, 146);
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px; */
}
.my-work-experience {
  /* background-color: rgb(146, 189, 245); */
}
.my-projects-section {
  /* background-color: rgb(204, 146, 245); */
  padding: 0 0 0 10px;
  margin-bottom: 50px;
}
.main-content-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000;
}
.my-education {
  /* background-color: rgb(192, 245, 146); */
}
.only-contacts {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: white;
  margin-bottom: 10px;
}
.contacts-section {
  margin: 50px 0 0 40px;
  /* color: white; */
}
.tech-section {
  margin: 50px 0 0 40px;
  color: white;
}
.soft {
  margin: 50px 0 0 40px;
  color: white;
}
/* contacts section */
.contacts-type {
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  color: white;
  margin-right: 10px;
}
.contacts-link {
  color: #565e6a;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.list {
  padding-left: 15px;
}
.red-words {
  color: red;
}
.projects-item-first {
  padding-left: 15px;
}
